$brand-color: #29a19c;
$subscription: #ecca75;
$delete: #f05454;

$border-color: rgba(40, 40, 70, 0.1);
$border-color-darken: #8c8c8c;

$background-color-light: #fafafa;
$background-color-dark: #282846;
