@import "./_variables";
@import "./base/base.scss";
@import "./pages/pages.scss";
@import "./layout/layout.scss";

body {
  font-family: "Nunito";
}

.App {
  &.light {
    background-color: $background-color-light;
  }

  &.dark {
    background-color: $background-color-dark;
  }
}

.app {
  &-header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  &-footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }
  // &-section {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 85vh;
  // }
}
