.base-button {
  background-color: $brand-color;
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;

  &.addCategories {
    font-family: "Nunito";
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $brand-color;
    background: none;
    font-size: 16px;
    width: 85px;
    padding: 0;
  }
}

.singIn {
  width: 98px;
}

.singUp {
  font-size: 12px;
  border: none;
  background-color: white;
  text-decoration: underline;
  color: $brand-color;
  cursor: pointer;
}

.btn-logout {
  border: none;
  background-color: white;
  font-size: 16px;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  width: 70px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  bottom: 20px;
}
